    <li>
        <%if((locals.user)&&(locals.user.id===comment.user.id)){%>
            <span>
                <a href="/post/deleteComment/<%=comment.id%>"><i class="fa-sharp fa-solid fa-trash"></i></a>
            </span>
            <%}%>
                <%=comment.content%>
    </li>
    COMMENTED BY <span>
        <%=comment.user.name%>
    </span>