<h1>Codial App</h1>
<section id="feed-post">
    <h4>POSTS</h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content" id="content" cols="30" rows="3"></textarea>
        <input type="submit" value="POST">
    </form>
</section>