<h1>Codial App</h1>
<section id="feed-post">
    <h4>POSTS</h4>
    <form action="/post/create" id="new-post-form" method="POST">
        <textarea name="content" id="content" cols="30" rows="3" placeholder="Type here..."></textarea>
        <input type="submit" value="POST">
    </form>
    <%if(locals.user){%>
        <div id="postListContainer">
            <ul>
                <%-include('_post')-%>
            </ul>
        </div>
        <%}%>
</section>
<section id="User-friends">
    <h4>Friends</h4>
    <% for(let friend of allFriends){%>
        <ul>
            <li>
                <a href="/users/profile/<%=friend.id%>"><%=friend.name%></a>
            </li>
        </ul>
    <%}%>
</section>