    <link rel="stylesheet" href="/css/user_profile.css">
    <div>
        <%if(user.name!=''){%>
        Username : <%=user.name%>
        <%}else{%>
        Username : <%=user.email%> 
        <%}%>
    </div>
