    <link rel="stylesheet" href="/css/user_profile.css">
    <a href="/users/signout">Signout</a>
    <div>
        <!-- <%if(user.name!=''){%> -->
        Username : <%=user.name%>
        <!-- <%}else{%> -->
        Email : <%=user.email%> 
        <!-- <%}%> -->
        Date created : <%=user.createdAt%>
    </div>
