<link rel="stylesheet" href="/css/user_profile.css">
<div>
    <h1>Hello <%=profileUser.name%> !!</h1>
    <p>Nice to see you here </p>
    <p>Username : <%=profileUser.name%>
    </p>
    <p>Email : <%=profileUser.email%>
    </p>
    <p>Date created : <%=profileUser.createdAt%>
    </p>
</div>