body{
    margin: 0px;
}

section:nth-child(even){
    background-color: #DFDFDE;
}

/* ....Body Header.... */

#body_header{
    position: relative;
    height: 65vh;
    color: white;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ....Horizonatal Liat.... */
.bars{
    color: white;
    margin: 5%;
    margin-right: 5%;
    display: none;
    margin-left: 90%;
}

.bars i {
    font-size: 2rem;
}

.dropdown-list{
    margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
}
.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
}

.dropdown-list li{
    margin: 0.4rem 0px;
}


.horizontal-list,.dropdown-list ul{
    margin-top: 0px;
    list-style: none;
    padding-left: 0px;
}
.navbar{
    padding-top: 3vh;
    position: sticky-top;
}
.horizontal-list li{
    display: inline-block;
    margin: 0px 10px;
}
.navbar li:hover{
    color: lightgray;
    border-bottom: 1px solid white;
    font-weight: bolder;
}
.horizontal-list a,.dropdown-list a{
    color: white;
    text-decoration: none;
}
.text_center{
    text-align: center;
}

/* .....Name & Social Apps..... */

#Name{
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 7.5px;
    margin-top: 20vh;
}
.social-icons li a i{
    font-size: 1rem;
    border-radius: 50%;
    padding: 10px;
    color: white;
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 4px 6px rgba(230,196,196,0.3);
}

/* .....About..... */
#about{
    position: relative;
}
#profile-pic{
    margin: auto;
    border-radius: 50%;
    margin-top: -20vh;
    width: 20rem;
    height: 20rem;
    border: 5px solid whitesmoke;
    box-shadow: 0px 0px 4px 10px darkgray;
}
#profile-pic img{
    height: 100%;
    width: 100%;
}
#about-text{
    font-size: 1.5rem;
    margin: 5% 15%;
    text-align: justify;
}
/* ....skills.... */

.skills-display{
    width: 70%;
    height:auto;
    background-color: inherit;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    margin:2rem
}
.skill-progress{
    margin:1rem;
    background-color: grey;
    width: 13rem;
    height: 2rem;
    border-radius: 20px;
}
.skill-level{
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
    height: inherit;
}
.skill-level>div{
    display: flex;
    color:white;
    font-size:1rem;
    height: inherit;
    align-items: center;
    justify-content: center;
}

/* ....experience.... */
.floater{
    position: sticky;
    top: 25%;
    transform: rotate(90deg);
    z-index: 2;
    color: blue;
}
.timeline{
    position:relative;
    width:80%;
    margin: 10px;
}
.timeline-def{
    position: absolute;
    left: 36vw;
    top: 10%;
    border: 2px dashed lightcyan;
    height: 70%;
    width: 0;
}
.experience-box{
    position: relative;
    width: 40%;
    min-height: 150px;
    margin: 10px;
    font-family: sans-serif;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
}
.experience-box:nth-child(even){
    left:53%;
}
.experience-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top: 60%;
    right: -13%;
    border-radius: 50%;
    background-color: black;
    width: 0.5rem;
    height: 0.5rem;
    z-index: 1;
}
.experience-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    top: 60%;
    left: -22%;
    border-radius: 50%;
    background-color: black;
    width: 0.5rem;
    height: 0.5rem;
    z-index: 1;
}
.experience-detail{

}
.experience-title{
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: right;
}
.experience-description{
    font-size: 0.9rem;
    font-weight: 100;
    text-transform: none;
    margin-left: 10px;
    text-align: right;
}
.experience-box img{
    width: 30%;
    height: 30%;
    position: relative;
    left: -20%;
    text-align: center;
}
/* ....education.... */
.education-box img{
    width: 25%;
    height: 20%;
    position: relative;
    left: -20%;
    text-align: center;
}
/* ...portfolio.... */

.portfolio-display{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
    width:80%;
    margin:2rem;
}
.portfolio-item img{
    width:12rem;
    height:auto;
    margin: 5%;
}

/* ....contact.... */
#contact{
    background-image:linear-gradient(90deg,#2857a4,#403066);
    color:white;
}
.contact-details{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    width:90%;
}
.contact-form{
    width: 40%;
}
.contact-form>form{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.contact-form>form>input{
    border-width:0px 0px 2px 0px;
    border-style:solid;
    border-bottom-color:white;
    margin:1.5rem;
    width:90%;
    background:transparent;
}
.send-message{
    background:transparent;
    border:2px solid white;
    padding:0.75rem;
    width:50%;
}
#contact h1 span,button{
    color: white;
}
.contact-info{
    width: 40%;
}
.contact-heading{
    font-size:1.75rem;
    font-weight: bold;
}
h6{
    margin:10px 0px;
}
.contact-text,.contact-text-details{
    font-size:1rem;
    font-weight:lighter;
    margin: 0.2rem;
}
.contact-text-details{
    margin-top: 1rem;
}
.bottom-social{
    margin: 20px;
}
/* ....sections.... */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
}
.section-heading{
    width: auto;
    padding:20px 10px 10px;
    font-weight: 400;
    margin: 10px auto;
}
.section-heading span{
    font-size: 40px;
    color:#2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/* ...colors.... */
.color-blue{
    background-color:#21209C;
}
.color-orange{
    background-color:#DB6400;
}
.color-brown{
    background-color:#A86464;
}
.color-green{
    background-color:#1F8A70;
}
.percent-50{
    width:50%;
    height:inherit;
}
.percent-90{
    width:90%;
    height:inherit;
}
.percent-80{
    width:80%;
    height:inherit;
}
.mb75{
    margin-bottom: 75px;
}


/* ....media_queries.... */
@media screen and (max-width:768px){
    .experience-box:nth-child(odd){
        left: 33%;
    }
    .experience-box:nth-child(even){
        left: 33%;
    }
    .experience-box::after{
        left: -33.5%!important;
    }
    .timeline-def{
        position: absolute;
        left: 15%;
        top: 10%;
        border: 2px dashed lightcyan;
        height: 70%;
        width: 0;
    }
    .experience-box{
        width: 60%;
    }
    html{
        font-size: 0.8rem;
    }
    .portfolio-display{
        flex-direction: column;
        align-items: center;
    }
    .portfolio-item img{
        width: 15rem;
        height: auto;

    }
    .contact-form{
        width: 100%;
    }
    .contact-info{
        width: 100%;
        margin: 5%;
    }
}
@media screen and (max-width:572px){
    #body_header{
        height: 55vh;
    }
    #profile-pic{
        margin-top: -10vh;
    }
    .skills-display{
        flex-direction: column;
    }
    .navbar{
        display: none;
    }
    .bars{
        display: inline-block;
    }
    html{
        font-size: 0.6rem;
    }
}
